body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("images/table.png");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.contGame{
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}

.game{
    margin: auto;
    padding-inline: 20px;
}

h1 {
    color: goldenrod;
}


button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}

.pemisah{
    margin-bottom: 50px;
}